<div th:fragment="login" class="login-container">
  <div class="login-header">
    <h3>F-Course</h3>
    <p th:if="${param.error}" class="text-danger">Tài khoản hoặc mật khẩu không đúng</p>
    <p th:if="${param.logout}"  class="text-success">Đã đăng xuất</p>
    <p th:text="${message}" class="text-info" ></p>
  </div>

  <form method="post"
        role="form"
        th:action="@{/login}">
    <div class="form-floating">
      <input type="text" class="form-control" id="username" name="username"  placeholder="Email">
      <label for="username">Tên tài khoản</label>
    </div>

    <div class="form-floating password-container">
      <input type="password" class="form-control" id="password" name="password"  placeholder="Mật khẩu">
      <label for="password">Mật khẩu</label>
      <span class="position-absolute top-50 end-0 translate-middle-y pe-3" style="cursor: pointer;">
                    <i class="fas fa-eye-slash toggle-password"></i>
                </span>
    </div>

    <button type="submit" class="btn btn-login">
      Đăng nhập
    </button>

    <div class="divider">
      <span > or </span>
    </div>
    <a type="button" class="btn btn-register" th:href="@{/dang-ky}">Đăng ký</a>

    <a type="button" th:href="@{/oauth2/authorization/google}" class="btn btn-google">
      <i class="bi bi-google"></i>
      Đăng nhập với Google
    </a>

    <div class="forgot-password">
      <a th:href="@{/forgot}">Quên mật khẩu?</a>
    </div>
  </form>
</div>

<div th:fragment="code" class="login-container">
  <div class="login-header">
    <h5>Nhập 6 ký tự được gửi tới email</h5>
    <p th:if="${param.error}" class="text-danger">Tài khoản hoặc mật khẩu không đúng</p>
    <p th:if="${param.logout}"  class="text-success">Đã đăng xuất</p>
    <p th:text="${message}" class="text-info" ></p>
  </div>

  <form method="post"
        role="form"
        th:action="@{/login}">
    <div class="form-floating">
      <input type="text" class="form-control" id="code" name="code"  placeholder="Code">
      <label for="username">Code</label>
    </div>


    <button type="submit" class="btn btn-login">
      Xác nhận
    </button>
    <div class="forgot-password">
      <a href="#">Gửi lại</a>
    </div>
  </form>
</div>

<div th:fragment="forgot" class="login-container">
  <div class="login-header">
    <h5>Nhập email</h5>
    <p th:if="${param.error}" class="text-danger">Có lỗi~!</p>
    <p th:if="${param.success}"  class="text-success">Vui lòng kiểm tra email</p>
    <p th:text="${message}" class="text-info" ></p>
  </div>

  <form method="post"
        role="form"
        th:action="@{/forgot/email}">
    <div class="form-floating">
      <input type="email" class="form-control" id="email" name="email"  placeholder="Email">
      <label for="email">Email</label>
    </div>
    <button type="submit" class="btn btn-login">
      Xác nhận
    </button>
    <div class="forgot-password">
      <a th:href="@{/login}">Đăng nhập</a>
    </div>
  </form>
</div>

<div th:fragment="register" class="login-container">
  <div class="login-header">
    <h3>Đăng ký</h3>
    <div th:if="${message}" class="alert alert-danger">
      <span th:text="${message}"></span>
    </div>
  </div>

  <form th:action="@{/register}" th:object="${user}" method="post">
    <div class="form-floating">
      <input type="name" class="form-control" id="name"  name="name" placeholder="Tên">
      <label for="name">Tên</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
      <label for="email">Email</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="username" name="username" placeholder="Username">
      <label for="username">Username</label>
    </div>

    <div class="form-floating password-container">
      <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
      <label for="password">Mật khẩu</label>
      <span class="position-absolute top-50 end-0 translate-middle-y pe-3" style="cursor: pointer;">
                    <i class="fas fa-eye-slash toggle-password"></i>
                </span>
    </div>
    <div class="form-floating">
      <input type="tel" class="form-control" id="tel" name="tel"  placeholder="Số điện thoại">
      <label for="tel">Số điện thoại</label>
    </div>

    <button type="submit" class="btn btn-login">
      Đăng ký
    </button>


    <div class="forgot-password">
      <a href="/dang-nhap">Đăng nhập</a>
    </div>
  </form>
</div>