<div th:fragment="list_post_all" class="my-3">
    <div class="row my-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 th:text="${list_post_all.name}">Phổ biến</h4>
            <a type="button" class="btn btn-sm btn-outline-info" th:href="@{/home/all}" >Tất cả</a>
        </div>
    </div>

    <div th:if="${list_post_all.totalElements > 0}" class="row row-cols-1 row-cols-md-3 g-4">
        <div th:each="post : ${list_post_all.content}" class="col">
            <div class="card h-100 position-relative">
                <div  th:each="discount :${ post.discounts }">
                    <div  class="badge bg-danger position-absolute top-0 start-0"
                          th:if="${discount.def && discount.percent>0}" th:text="${discount.percent +'%'}">
                    </div>
                </div>
                <!-- Nút thêm vào giỏ -->
                <button class="btn btn-outline-primary btn-sm position-absolute top-0 end-0 m-2 add-to-cart-btn"
                        th:data-post-id="${post.id}"
                        th:data-name="${post.name}"
                        th:data-price="${post.finalPrice}"
                        th:data-thumbnail="${post.thumbnail}">
                    <i class="bi bi-cart"></i>
                </button>

                <img th:src="@{'/image/' + ${post.thumbnail}}" class="card-img-top" height="200px" alt="Product 1">
                <div class="card-body">
                    <a th:href="@{'/home/p/' +${post.id}}">
                        <h5 class="card-title" th:text="${post.name}"></h5>
                        <p class="card-text" th:text="${post.content}">Mô tả ngắn gọn về sản phẩm 1.</p>
                    </a>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <span class="num fw-bold text-primary" th:text="${post.price + ' VND'}">$150</span>
                    <div class="text-warning">
                        <span th:text="${#numbers.formatDecimal(post.avgVote, 0, 1)}"></span>
                        <th:block th:each="i : ${#numbers.sequence(1, 5)}">
                            <th:block th:switch="${true}">
                                <i th:case="${post.avgVote >= i}" class="bi bi-star-fill"></i>
                                <i th:case="${post.avgVote > (i-1) and post.avgVote < i}" class="bi bi-star-half"></i>
                                <i th:case="*" class="bi bi-star"></i>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Nếu không có bài viết -->
    <div th:if="${list_post_all.totalElements == 0}" class="alert alert-warning text-center mt-4">
       <h5>Không có bài viết nào để hiển thị.</h5>
    </div>


</div>