<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu? Nhập email</title>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/customize.css}" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    </style>
</head>
<body class="background-radial-gradient overflow-hidden">

<div th:replace="~{fragments/login :: forgot}"></div>

<script th:src="@{/js/customize.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<link th:href="@{/css/font/bootstrap-icons.css}" rel="stylesheet">

</body>
</html>