<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/customize.css}" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments/nav :: nav}"></div>

<div class="container" style="padding-top:70px" >

  <div th:replace="~{fragments/nav :: slide}"></div>

  <div class="pt-1">
    <div class="pt-1">
      <a type="button" class="btn"
         th:classappend="${param.c == null ? 'btn-outline-primary' : 'btn-primary'}"
         th:href="@{/}">
        Tất cả
      </a>

      <!-- Danh sách các danh mục -->
      <a th:each="category : ${list_category_all.content}"
         type="button"
         class="btn m-2"
         th:classappend="${  param.c == category.id ? 'btn-outline-primary' : 'btn-primary'}"
         th:href="@{'/?c=' + ${category.id}}"> <span th:text="${category.name}"></span>
      </a>


    </div>

  </div>

  <!--All-->
  <div th:replace="~{fragments/post :: list_post_all}"></div>

  <!--Teacher-->
  <div th:replace="~{fragments/teacher :: teacher_top}"></div>

</div>


<div th:replace="~{fragments/nav :: footer}"></div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<link th:href="@{/css/font/bootstrap-icons.css}" rel="stylesheet">
<script th:src="@{/js/customize.js}"></script>

</body>
</html>
