<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>T-Course</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/customize.css}" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments/nav :: nav}"></div>

<div class="container" >

  <div th:replace="~{fragments/nav :: slide}"></div>

  <div class="pt-1">
    <div class="pt-1">
      <!-- Nút "Tất cả", kiểm tra nếu param.c == null -->
      <a type="button" class="btn"
         th:classappend="${param.c == null ? 'btn-outline-primary' : 'btn-primary'}"
         th:href="@{/home/all}">
        Tất cả
      </a>

      <!-- Danh sách các danh mục -->
      <a th:each="category : ${list_category_all.content}"
         type="button"
         class="btn m-2"
         th:classappend="${  param.c == category.id ? 'btn-outline-primary' : 'btn-primary'}"
         th:href="@{'/home/all?c=' + ${category.id}}"> <span th:text="${category.name}"></span>
      </a>


    </div>

  </div>

  <!--All-->
  <div th:replace="~{fragments/post :: list_post_all}"></div>

  <!--Phổ biến-->
  <div class="row pb-3">
    <a type="button"
       class="btn btn-primary btn-lg btn-block mt-3"
       th:if="${list_post_all.pageNumber + 1 < list_post_all.totalPages}"
       th:href="@{'/home/all?number=' + ${list_post_all.pageNumber+1}}">
      Trang tiếp
    </a>

  </div>


</div>


<div th:replace="~{fragments/nav :: footer}"></div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<link th:href="@{/css/font/bootstrap-icons.css}" rel="stylesheet">
<script th:src="@{/js/customize.js}"></script>
</body>
</html>
