<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>T-course - <span layout:title></span></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/customize.css" rel="stylesheet">

</head>
<body>
    <div th:insert="fragments/nav :: nav"></div>
    <div layout:fragment="content">
        <p>Default content placeholder</p>
    </div>

    <footer>

    </footer>

</body>
</html>
