<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting - Profile</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/customize.css}" rel="stylesheet">
    <style>
        .card {
            background-color: #FFF !important;
        }
    </style>

</head>
<body style="margin-top:70px">

<div th:replace="~{fragments/nav :: nav}"></div>

<div class="container">
    <div th:replace="~{fragments/update_user :: info}"></div>
</div>

<div th:replace="~{fragments/nav :: footer}"></div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<link th:href="@{/css/font/bootstrap-icons.css}" rel="stylesheet">

<script>
    document.addEventListener('DOMContentLoaded', function() {

        document.querySelectorAll('.dropdown-submenu > a').forEach(function(element) {
            element.addEventListener('click', function(e) {
                e.preventDefault();
                e.stopPropagation();
                var submenu = this.nextElementSibling;

                var allSubmenus = document.querySelectorAll('.dropdown-submenu .dropdown-menu');
                allSubmenus.forEach(function(menu) {
                    if (menu !== submenu) {
                        menu.style.display = 'none';
                    }
                });

                if (submenu.style.display === 'block') {
                    submenu.style.display = 'none';
                } else {
                    submenu.style.display = 'block';
                }
            });
        });
    });
</script>

</body>
</html>